@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Space+Grotesk:wght@300..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


.animate-Underline {
    animation: animationUnderline;
}

@font-face {
    font-family: 'icona';
    src: url('/icona-sans-font-family-1734060842-0/IconaSansTRIAL-Medium-BF6683702d1e08e.otf');
}

@font-face {
    font-family: 'Genome';
    src: url('/LARGEST GENOME DEMO.otf');
}

 
@layer utilities {


.pause-animation {
    animation-play-state: paused;
}
.login-bg {
    background-image: linear-gradient(rgb(15, 16, 17) 0%, rgb(8, 8, 8) 50%);
}
.radial-bg-gradient {
    background-image: radial-gradient(50% 50% at 50% 50%, hsla(245deg, 42%, 42%, .60) 20%, rgba(0, 0, 0, 0) 100%);
}
.gradient-text-2 {
    background-image: linear-gradient(to right,#2b81e5,#FFFFFF,#2b81e5,#FFFFFF);
    background-size: 300% 300%;
    background-clip: text;
}
.gradient-button {
    background-image: linear-gradient(to top right,#FFFFFF 10%,#2b81e5 30% 50%,#FFFFFF 90%);
    background-size: 200% 200%;
}
.translucent-card {
    background-image: linear-gradient(to bottom right,#252627,#08090a);
    border: 0.5px solid #484849;
}
.gradient-bg {
    background-image: conic-gradient(from 90deg,#5899E2 0deg,#5899E2 0deg,transparent 30deg);
}

.box-gradient{
    background-image: linear-gradient(to bottom,rgba(255,255,255,0.04) 0%,#08090a 200%);
    position: relative;
}
.box-gradient:hover{
    background-image: linear-gradient(to bottom,rgba(255,255,255,0.06) 0%,#08090a 200%);
    position: relative;
    @apply transition ease-in duration-200
}

.about-bg{
    @apply rounded-full -rotate-12 h-32 w-32 md:h-72 md:w-72 absolute filter blur-2xl opacity-75 
}
.delay-2000 {
    animation-delay: 2000ms;
}
.highlight-bg {
    @apply bg-transparent bg-opacity-5 rounded-lg relative
}
.highlight-bg::after {
    @apply absolute top-0 left-0 w-full h-1/3 bg-[url('/atmosphere.jpg')] bg-opacity-5 content-[''] object-cover rounded-t-lg
}
.highlight-bg::before {
    @apply absolute top-0 left-0 w-full h-1/3 bg-black opacity-40 content-[''] rounded-t-lg object-cover z-10
}

.eventCard {
    @apply relative bg-[#08090a] w-[75%] h-[100%] rounded-3xl overflow-hidden rounded-b-none
}
.eventCard::before , .eventCard::after {
    @apply content-[''] absolute h-[250%] w-[150%] rounded-3xl gradient-bg animate-conic 
}

.eventCard::before {
    @apply blur-xl
}



.eventContainer {
    @apply h-screen w-full  mt-10 relative max-w-full 
}
.eventContainer::after {
    content: '';
    background: #08090a;
    mask-image: linear-gradient(to right,black 0%,transparent 15%,transparent 85%,black 100%);
    z-index: 20;
    @apply absolute top-0 left-0 w-full h-full 
}
.eventSlider {
    animation-direction: reverse;
    @apply flex flex-nowrap justify-center relative w-fit mb-8 
}
.eventsFloatingCard {
    @apply relative w-[320px] h-full z-10 mr-6 cursor-pointer 
}


.graph-container {
    @apply absolute top-0 left-0 w-full  h-full -z-10
}
.graph-column-container {
    @apply h-full w-full overflow-hidden flex flex-nowrap absolute
}
.graph-column-item {
    border-left: 0.5px solid hsla(240deg, 5%, 67%, 0.1);
    flex: 0 0 100px;
}

.graph-row-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow: hidden;
    @apply h-full w-full absolute
}
.graph-row-item {
    border-top: .5px solid hsla(240deg, 5%, 67%, 0.1);
    flex: 0 0 100px;
}





}

@layer components {
    .main-bg{
        @apply bg-[#08090a]
    }
    .primary-text{
        @apply text-[#f7f8f8] 
    }
    .secondary-text{
        @apply text-[#A4A4A5]
    }
    .ternary-text{
        @apply text-[#8a8f98]
    }
    .quaternary-text{
        @apply text-[#62666d]
    }
    .navBar-Item {
        @apply px-4 font-light text-lg text-[#dee2e6]
    }
    .eventDateText {
        @apply text-[#d5c7bc] 
    }
    
}

